


@mixin inner {
    .innerContainer {
        height: 100%;
        display: flex;
        flex-direction: column;

        .topCategoryTab.ant-radio-group.ant-radio-group-outline {
            width: 100vw;
            height: 5vh;
            margin-bottom: 0;
            background-color: transparent;
        }

        .ant-tabs.ant-tabs-left {
            background-color: transparent;
            overflow: auto;
            .ant-tabs-content-holder > .ant-tabs-content > .ant-tabs-tabpane {
                padding-right: 24px;
            }
            & , .ant-tabs-nav {
                height: calc(100% - 5vh);
            }
        }       
    }
   
}